doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body 
    h1 NNチャット
    a(href="/logout") ログアウト
    form(method="post" action="/posts")
      div 
        textarea(name="content" cols="40" rows=4)
      div
        button(type="submit") 送信

h2 投稿一覧
each content in contents 
  p #{content}
  hr
  